html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  background-color: #efefef;
}

header {
  background-color: #A459D1;
  color: white;
  padding: 1rem;
}

header h1 {
  font-size: 3rem;
  text-align: center;
}

.container {
  width: 400px;
  margin: 0 auto;
}

section article { 
  transition: box-shadow 0.3s ease;
  background-color: white;
  margin: 1rem 0;
  border-radius: 1rem;
  padding: 0.25rem 0;
  cursor: pointer;
}

section article:hover {
  box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.3);
}

section article h2, section article p {
  margin: 1rem;
}

footer {
  background-color: #A459D1;
  padding: 2rem;
  color: white;
}

footer section {
  float: right;
}

footer p {
  margin: 0;
}

footer a {
  transition: color 0.3s ease;
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: #400E32;
}

.post {
  margin: 3rem 0rem 3rem 0rem;
}